.blv-conteudo-background {
    position: absolute;
    top: 420px;
    left: 297px;
    width: 1157px;
    height: 235px;
    gap: 0px;
    border-radius: 96px;
    background-color: rgba(48, 48, 48, 0.4);
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex-direction: column;
}

.blv-conteudo-background h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.blv-conteudo-background p {
    font-size: 1.6rem;
}

.blv-loja {
    margin: 60px 0 60px 0;
}

.blv-loja h2 {
    font-size: 50px;
    text-align: center;
    color: #0FA3DB;
    font-weight: 400;
    font-family: 'NATS-Regular', sans-serif;
    ;
}

.blv-loja p {
    text-align: center;
    font-size: 16px;
}

@font-face {
    font-family: 'NATS-Regular';
    src: url('../fonts/font.woff2') format('woff2'),
        url('../fonts/font.woff') format('woff'),
        url('../../fonts/NATS-Regular.ttf') format('truetype');
}

